h1 {
    color: #41AB5D;
}

.mylogo {
    height: 300px;
    width: auto;
}
header {
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
    padding-top: 2rem;
}
header a {
    color: #092e20;
    text-decoration: none;
    margin: 0 1.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

header a:hover {
    color: darkred;
}

.nav-left {
    margin-right: auto;
}
.nav-right {
    display: flex;
    padding-top: 2rem;
}

.post-entry {
    margin-bottom: 2rem;
}
.post-entry h2 {
    margin: 0.5rem 0;
}
.post-entry h2 a,
.post-entry h2 a:visited {
    color: #5E5694;
    text-decoration: none;
}

.post-entry h2 a:hover {
    color: #e35f5f;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px 0px 20px 0px;
}