{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<h2>SignUp</h2>
<form method="post">
    {% csrf_token %}
    <div class="container">
        <label for="username">Username:</label>
        <input type="text" placeholder="Enter your username" name="username"required>
        <br>
        <br>
        <label for="password1">Password:</label>
        <input type="password" placeholder="Enter your password" name="password1"required>
        <br>
        <br>
        <label for="password2">Password confirmation:</label>
        <input type="password" placeholder="Re-Enter your password" name="password2"required>
         <br>
        <br>
        <label for="age">Age:</label>
        <input type="text" placeholder="Enter your age" name="age"required>
        <br>
        <br>
        <label for="phone_number">Phone Number:</label>
        <input type="text" placeholder="Enter your phone number" name="phone_number"required>
    </div>
    <button type="submit">Sign Up</button>
</form>
{% endblock content %}
